<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
  <title>Movie Time</title>
</head>

<body class="container bg-gray-800 bg-opacity-10">

  <section class="flex-column justify-space-around">
  


    <main class="container mt-2"> 
    
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>

    </footer>
  </section>  
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
 
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/script.js"></script>

<script src="js/movies.js"></script>

</body>

</html>
