<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <header class="display-1 flex text-center">
      Movie List! <small class="text-muted">Have a look...</small>
    </header>
    <div class="container">
      <card class="row border border-2 border-primary">
        <h3>User 1</h3>
        <img src="/public/assets/images/placeholder.jpg"/>
        <a>Movie Description...</a>
        <button type="button" class="btn btn-primary">Like</button>
        <button type="button" class="btn btn-primary">Comment</button>
        <a>Comments...</a>
      </card>
    </div>
    <div class="container">
      <card class="row border border-2 border-primary">
        <h3>User 2</h3>
        <img src="/public/assets/images/placeholder.jpg"/>
        <a>Movie Description...</a>
        <button type="button" class="btn btn-primary">Like</button>
        <button type="button" class="btn btn-primary">Comment</button>
        <a>Comments...</a>
      </card>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
