{{> navbar}}
<div id="alertMessage" class=" m-2"></div>

{{ userName}}
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body  bg-dark">
      <h1 class="text-center mb-3 text-yellow-200"><i class="fas fa-user-plus text-red-900"></i> Enter New User</h1>

<form class="userName-form">
    <div class="mb-3">
    <label for="name-signup" class="form-label text-info" > <i class="far fa-user"> Name</i></label>
    <input type="text" class="form-control font-weight-bold text-light bg-dark" id="userChange" placeholder="User Name">
  </div>
    <button type="submit" class="btn btn-light w-100"> <i class="fas fa-user-plus "> </i> Submit</button>

  </form>
